{% extends "layout.html" %}
{% block content %}
<form action="/trees/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="id">Tree ID</label>
            <input id="id" type="text" class="form-control" placeholder="Must be a unique ID!" name="id">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Girth_in">Girth</label>
            <input id="Girth_in" type="text" class="form-control" placeholder="Girth (inches)" name="Girth_in">
        </div>
        <div class="col">
            <label for="Height_ft">Height</label>
            <input id="Height_ft" type="text" class="form-control" placeholder="Height (feet)" name="Height_ft">
        </div>
        <div class="col">
            <label for="Volume_ft_3">Volume</label>
            <input id="Volume_ft_3" type="text" class="form-control" placeholder="Volume (feet cubed)" name="Volume_ft_3">
        </div>
        <hr>
    </div>
  <hr>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}